on boot
    # PM8941 flash
    chown system camera /sys/class/misc/pm8941-flash/device/current1
    chown system camera /sys/class/misc/pm8941-flash/device/current2
    chown system camera /sys/class/misc/pm8941-flash/device/fault_status
    chown system camera /sys/class/misc/pm8941-flash/device/flash_timer
    chown system camera /sys/class/misc/pm8941-flash/device/mode
    chown system camera /sys/class/misc/pm8941-flash/device/strobe

    # Touch
    chown system system /sys/devices/virtual/input/clearpad/wakeup_gesture

    # Glove input
    chown system system /sys/devices/virtual/input/clearpad/glove
    chmod 0660 /sys/devices/virtual/input/clearpad/glove

on post-fs-data
# for multi rild
service_redefine ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log qcom_diag

service ril-daemon2 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket rild-debug2 stream 660 radio system
    user root
    disabled
    group radio cache inet misc audio sdcard_r sdcard_rw diag qcom_diag log

service rild2-wrapper /system/bin/sh /system/etc/init.qcom.ril.sh
    class late_start
    user root
    group root
    oneshot
